@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@media (max-width: 580px) {
  nav ul {
    margin: 0;
    padding: 0;
  }
  nav li a {
    padding: 0;
    margin: 0 10px;
  }
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
}
.cards {
  position: relative;
}
.cards span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
